In [1]:
for element in range(10,0,-2):
    print(element)

10
8
6
4
2

In [14]:
liste_1=[1,2,4,8,12]
Noms=['Rafya','Balhous','ElBaggari']
liste_2=[liste_1,Noms]
liste_3=[]

In [17]:
#============================================
#Indexing des séquences
#============================================


#Listes
print(Noms[0]) #premier element=index 0
print(Noms[1]) #deuxieme element=index 1
print(Noms[-1]) #dernier element= index -1
print(Noms[-2]) #avant dernier

Rafya
Balhous
ElBaggari
Balhous

In [24]:
#============================================
#Modifier les valeurs des séquences
#============================================

#Listes
Noms[2]='Ait My Hachem'
print(Noms)

['Rafya', 'Balhous', 'Ait My Hachem', 'Ouahbi', 'Horami']

In [20]:
#============================================
#Slicing des séquences
#============================================

#Listes
#Liste[début:fin:pas]

Noms=['Rafya','Balhous','ElBaggari','Ouahbi','Horami']
print(Noms[:2]) #Afficher les deux premiers elements

['Rafya', 'Balhous']

In [21]:
print(Noms[2:]) #Afficher le reste

['ElBaggari', 'Ouahbi', 'Horami']

In [22]:
print(Noms[::2]) #pas de 2

['Rafya', 'ElBaggari', 'Horami']

In [23]:
print(Noms[::-1]) #Inverser la séquence

['Horami', 'Ouahbi', 'ElBaggari', 'Balhous', 'Rafya']

In [25]:
print(Noms)

['Rafya', 'Balhous', 'Ait My Hachem', 'Ouahbi', 'Horami']

In [26]:
#Append
Noms.append('ElBaggari')
print(Noms)

['Rafya', 'Balhous', 'Ait My Hachem', 'Ouahbi', 'Horami', 'ElBaggari']

In [27]:
#insert
Noms.insert(1,'Kanane')
print(Noms)

['Rafya', 'Kanane', 'Balhous', 'Ait My Hachem', 'Ouahbi', 'Horami', 'ElBaggari']

In [30]:
#extend
Noms2=['Eddibe','Laalaiji']
Noms.extend(Noms2)
print(Noms)

['Rafya', 'Kanane', 'Balhous', 'Ait My Hachem', 'Ouahbi', 'Horami', 'ElBaggari', 'Eddibe', 'Laalaiji']

In [31]:
len(Noms)

9

In [32]:
Noms.sort() #Tri par ordre alphabétique
print(Noms)

['Ait My Hachem', 'Balhous', 'Eddibe', 'ElBaggari', 'Horami', 'Kanane', 'Laalaiji', 'Ouahbi', 'Rafya']

In [34]:
Noms.sort(reverse=True) #Tri par ordre anti-alphabétique
print(Noms)

['Rafya', 'Ouahbi', 'Laalaiji', 'Kanane', 'Horami', 'ElBaggari', 'Eddibe', 'Balhous', 'Ait My Hachem']

In [35]:
Liste_1=[21,18,88,0,-6,1000] #Du petit au plus grand
Liste_1.sort()
print(Liste_1)

[-6, 0, 18, 21, 88, 1000]

In [36]:
Noms.count('Rafya')

1

In [37]:
Noms.clear()

In [38]:
print(Noms)

[]

In [39]:
dictionnaire_français_anglais={
    "données" : "data",
    "intelligence artificielle " : "artificial intelligence",
    "apprentissage automatique" : "machine learning"
}

In [41]:
mot_de_passe={
    'RAFYA': '175S8',
    'Balhous':'178Rh',
    'Eddibe':'17te6'
}
print(mot_de_passe)

{'RAFYA': '175S8', 'Balhous': '178Rh', 'Eddibe': '17te6'}

In [43]:
inscription={
    'RAFYA': '123',
    'Balhous':'178',
    'Eddibe':'180'
}
print(inscription)

{'RAFYA': '123', 'Balhous': '178', 'Eddibe': '180'}

In [44]:
étudiant={
    1 : inscription,
    2 : mot_de_passe
}
print(étudiant)

{1: {'RAFYA': '123', 'Balhous': '178', 'Eddibe': '180'}, 2: {'RAFYA': '175S8', 'Balhous': '178Rh', 'Eddibe': '17te6'}}

In [45]:
mot_de_passe={'RAFYA': '175S8', 'Balhous': '178Rh', 'Eddibe': '17te6'}

mot_de_passe.values()

dict_values(['175S8', '178Rh', '17te6'])

In [46]:
mot_de_passe.keys()

dict_keys(['RAFYA', 'Balhous', 'Eddibe'])

In [47]:
len(mot_de_passe)

3

In [48]:
#Ajouter un élement au dictionnaire
mot_de_passe['Laqdour']='17At8'
mot_de_passe

{'RAFYA': '175S8', 'Balhous': '178Rh', 'Eddibe': '17te6', 'Laqdour': '17At8'}

In [50]:
nouveau=mot_de_passe.get('Ezzahar')
print(nouveau)

None

In [51]:
mot_de_passe.get('RAFYA')

'175S8'

In [55]:
LISTE=['Aboulmawahib','Laghzaoui','Elghanmi']
mot_de_passe.fromkeys(LISTE,'no password')

{'Aboulmawahib': 'no password',
 'Laghzaoui': 'no password',
 'Elghanmi': 'no password'}

In [56]:
mot_de_passe.pop('RAFYA')
mot_de_passe

{'Balhous': '178Rh', 'Eddibe': '17te6', 'Laqdour': '17At8'}

In [57]:
x=-2
abs(x)

2

In [58]:
liste=[1,-77,3,50,4.52]
max(liste)

50

In [59]:
min(liste)

-77

In [60]:
len(liste)

5

In [61]:
sum(liste)

-18.48

In [62]:
x=10
type(x)

int

In [63]:
#transformer un int en string
x=str(x)
type(x)

str

In [64]:
#transformer un string en float
x=float(x)
type(x)

float

In [65]:
liste_1=[12,47,5,0]
#transformer une liste en tuple
tuple_1=tuple(liste_1)
tuple_1

(12, 47, 5, 0)

In [66]:
x= input("Entrer un nombre:")

Entrer un nombre:5

In [67]:
type(x)
#Donc on ne peut pas faire du calcul avec

str

In [70]:
#Il faut la transformer en int
x=int(x)
type(x)

int